* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pacifico", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

ul {
    list-style: none;
}
